<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage Users</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous"/>
    <style>

        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
</head>

<body>
<h1>Welcome to Warehouse-app</h1>

<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid ">
            <div class="d-flex"><h2>manage Warehouse</h2></div>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">


                <form class="d-flex m-2">
                    <input class="form-control mt-2-2" type="search" placeholder="Search">
                    <button class=" btn btn-outline-success" type="submit"><a class="h5">Search</a></button>
                </form>
            </div>
        </div>
    </nav>
</header>
<div class="container-fluid text-center">
    <br>
        <form class="d-flex m-2">
        <div class="m-2">
            <button class="btn btn-outline-success" type="submit"
                    th:href="@{/warehouse/new}">Add New Warehouse </button>
        </div>
    </form>
    <!--    <div class="m-2">-->
    <!--       <button class="btn btn-outline-success" type="button"><a class="h3" th:href="@{/users/new}">Add New User </a></button>-->
    <!--    </div>-->
    <div class="container-fluid text-center">

        <div th:if="${message}" class="alert alert-success text-center">
            [[${message}]]
        </div>
        <div>
            <table class="table table-bordered">
                <thead class="table-dark">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Active</th>
                    <th>Users</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="warehouse : ${warehouseList} ">
                    <tr>
                        <td>[[${warehouse.id}]]</td>
                        <td>[[${warehouse.name}]]</td>
                        <td>[[${warehouse.active}]]</td>
                        <td>[[${warehouse.users}]]</td>
                        <td>
                            <button class="btn btn-outline-success" type="submit"><a class="h5 m-3"
                                                                                     th:href="@{'/warehouse/edit/' + ${warehouse.id}}">Edit</a>
                            </button>
                            <button class="btn btn-outline-success " type="submit"><a class="h5 m-3"
                                                                                      th:href="@{'/warehouse/delete/' + ${warehouse.id}}">Delete</a>
                            </button>

                        </td>
                    </tr>
                </th:block>

                </tbody>
            </table>

        </div>
    </div>
</div>
</body>
</html>